body{
    background-color: #F7F7F2;
}

.video_channel{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px 5px 0px;
}

.channel_btn, .c_prof_btn{
    /* margin: 20px 5px 5px 40px; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.channel_btn img, .c_prof_btn img{
    max-width: 150%;
    max-height: 200%;
}

.channel_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    width: 130px;
}

.loading_space{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

#channel_name{
    /* margin: 20px 5px 5px 0px; */
}

.subs_btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: #222725;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.screen_video{
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: 0px 40px 20px 40px;
}

#playing_video{
    box-shadow: 0px 0px 11px 0px #666666;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    width: 100%;
    height: auto;
}

.recommend_video{
    display: flex;
    margin: auto;
    margin-bottom: 20vh;
    margin-top: 10vh;
    width: 80%;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    overflow-x: auto;
}

.rvid{
    width: 160px;
    height: 90px;
    background-color: #726767;
    border-radius: 10px;
    margin: 5px 20px 5px 20px;
}

.vidImage{
    height: 100%;
    border-radius: 10px;
}

.vidButton{
    height: 100%;
    background-color: transparent;
    padding: 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: ease 1s;
}

.vidButton:hover{
    transform: scale(1.05, 1.05);
}

.video_icon_span{

}

.video_stats{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.video_icons{
    width: 2.5vh;
}

#dislike_icon{
    transform: rotate(180deg);
}

.hashtags_field{
    background-color: #b1b1b1;
    border-radius: 40px;
    padding: 15px;
}

a{
    text-decoration: none;
    color: #000;
}

.hashtag{
    margin: 0px 15px 0px 15px;
    background-color: #808080;
    padding: 5px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
}

.video_title{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.video_text{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    padding: 25px;
    background-color: #D9D9D9;
    border-radius: 5px;
    flex-direction: column;
    align-content: center;
}

.desc_title{
    margin-bottom: 20px;
    font-weight: 700;
}

.desc_text{
    text-align: justify;
    margin-bottom: 20px;
}

.comments_field{
    background-color: #D9D9D9;
    width: 70%;
    padding: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 20px;
}

.comments_title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.add_comment_btn{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: #222725;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 30px;
}

.all_comments{

}

#channel_name_prof{
    margin-left: 15px;
    font-weight: 600;
    font-size: large;
}

#data_comment{
    font-size: smaller;
    color: #909090;
    margin-left: 10px;
    font-weight: 300;
}

#comment_text{
    margin: 0px 0px 20px 55px;
    text-align: justify;
}

.comment{

}

.c_profile{
    display: flex;
    align-items: center;
    margin-right: 30px;
}