.profile_main{

}

.profImage{
    height: 100%;
    /* width: 300px; */
    max-width: 340px;
    object-fit: cover;
    border-radius: 10px;
}
.errorMsg{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80vh;
    align-items: center;
    font-size: xx-large;
    color: red;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.username{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.user_photo{

}

.user_infos{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 20px; */
    width: 250px;
    margin: auto;
    /* padding: 20px; */
}

#user_subs, #user_numvid{
    margin: 30px 0px;
    text-align: center;
    font-size: 20px;
}

.photo_btn{
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
}

#profile_photo{
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.Profile_Videos{
    display: flex;
    margin-bottom: 10px;
    width: 90%;
    height: 40vh;
    background-color: #D9D9D9;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto 10px auto;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.user_videos{

}

.no_videos{
    margin: 18vh auto;
    font-size: larger;
}