@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@font-face {
    font-family: 'ttmilks';
    src: url('../../public/fonts/font.ttf');
}


body{
    background-color: #F7F7F2;
    max-width: 100%;
    overflow-x: hidden;
}

.card_reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #899878;
    margin: auto;
    border-radius: 50px;
    position: relative;
}

.center{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.register_title{
    margin: 25px 6vh 30px 6vh;
    color: #fff;
    font-size: 40px;
    font-family: 'ttmilks', cursive;
}


/* .user_div{

} */

.reg_input{
    background-color: #D9D9D9;
    border-width: 1px;
    border-radius: 5px;
    height: 20px;
    margin: 0px 0px 40px 0px;
    padding: 8px;
    outline: none;
    position: relative;
}

/* .pass_div{

} */

.btn_register, .btn_next{
    width: 120px;
    height: 34px;
    border-radius: 20px;
    border-style: none;
    background-color: #222725;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 20px;
}

.input_title{
    font-size: 20px;
    margin-bottom: 5px;
}

.register{
    margin: 30px;
}

.reg_corner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10%;
}


.reg_channel{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #000;
    outline: none;
    margin: 11vh 6vw 4vh 6vw;
    background-color: transparent;
    height: 4vh;
    width: 40%;
    text-align: center;
    font-size: 110%;
    transition: width 0.3s ease;
}

.reg_channel:focus{
    width: 70%;
}

.photo_button{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
}

.button_image{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    object-fit: cover;
    z-index: 0;
}

.image_placeholder{
    width: 100%;
    height: 100%;
    transform: translate(0%, -100%) scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background: rgba(0, 0, 0, 0.69);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo_button:hover .image_placeholder{
    opacity: 1;
}
#channel_r_input{

}

.pass_div{
    display: contents;
}

.login_page{
    margin: 30px;
}

.reg_back{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #222725;
    border-radius: 20px;
    color: #fff;
}

.pass_rec{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 44, 4);
    padding: 10px;
    border-radius: 20px 5px 20px 5px;
    transition: opacity 0.3s ease;
    color: #fff;
}

.all_itens{
    margin: 2px;
}

#pass_r_input:focus + .pass_rec {
    display: flex;
}

ul {
    list-style: none;
}

#item1::before, #item2::before, #item3::before, #item4::before, #item5::before {
    content: '✗';
    color: #df0000;
    font-size: 1em;
    margin-right: 0.5em;
}

#item1c::before, #item2c::before, #item3c::before, #item4c::before, #item5c::before {
    content: '✓';
    color: #30cc00;
    font-size: 1em;
    margin-right: 0.5em;
}

/* ✓ */

#item1, #item2, #item3, #item4{
    color: rgb(196, 1, 1);
}

#item1c, #item2c, #item3c, #item4c{
    color: #2cbd01;
}